<div class="container">
  <div class="toggle">
    <ang-slide-toggle [checked]="true" [disabled]="false" [sliderSettings]="settings">
    </ang-slide-toggle>
  </div>

  <div class="toggle">
    <ang-slide-toggle [checked]="true"  [sliderSettings]="settings2">
    </ang-slide-toggle>
  </div>

  <div class="toggle">
    <ang-slide-toggle>
    </ang-slide-toggle>
  </div>

  <div class="toggle">
    <ang-slide-toggle [checked]="false" [sliderSettings]="settings4">
    </ang-slide-toggle>
  </div>

  <div class="toggle">
      <ang-slide-toggle [checked]="false" [disabled]="true" [sliderSettings]="settings4">
      </ang-slide-toggle>
    </div>
</div>
